<!-- Header with image caorusel -->
<div class="2xl:h-screen bg-black overflow-hidden -mt-36 relative">
  <% @professions.each_with_index do |s, i| %>
    <div class="slide hidden space-y-6 relative">
      <%= image_tag "building#{i+1}.jpg", class:"opacity-60 2xl:h-screen w-full object-cover" %>
      <div class="absolute top-1/2 left-1/2 mt-20 -ml-20 w-1/2" style="transform: translate(-50%, -50%); width: 45rem;">
        <h1 class="text-9xl text-white mb-8 flex"><%= s %><i class="fas fa-circle text-yellow-300 text-sm ml-2 mt-24"></i></h1>
        <p class="text-xl text-white">As a general contractor, we first create the highest level of trust and itegrity with our clients. We value our role in the success of your project.</p>
      </div>
    </div>
  <% end %>
</div>
<!-- /Header with image caorusel -->

<!-- Spacer -->
<div class="h-40 w-full">
  <div class="bg-blue-500 w-1/4 h-full"></div>
</div>
<!-- /Spacer -->

<!-- Company info -->
<div class="flex flex-col xl:flex-row w-full">
  <div class="min-w-1/2 bg-black text-white p-20 py-56">
    <h1 class="text-7xl mb-20">Hey there<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>
    <p class="text-xl mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia natus laudantium iusto ipsam pariatur. At excepturi similique rerum magnam voluptatibus cum eius odit temporibus, ab expedita, accusamus laborum pariatur modi.</p>
    <button class="bg-blue-500 py-3 text-white px-8 hover:bg-white hover:text-black transition duration-500">Read More</button>
  </div>

  <div class="grid grid-cols-2">
    <% @professions.each do |s| %>
      <div class="bg-white border p-20">
        <!-- Hexagon Background -->
        <div class="relative mb-10">
          <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
          <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
          <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
          <i class="fas fa-toolbox text-3xl text-white absolute m-auto"></i>
        </div>
        <!-- /Hexagon Background -->

        <h3 class="text-3xl mb-6 font-semibold"><%= s %><i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
        <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
      </div>
    <% end %>
  </div>
</div>
<!-- /Company info -->

<!-- Spacer -->
<div class="h-40 w-full">
  <div class="bg-blue-500 w-1/4 h-full"></div>
</div>
<!-- /Spacer -->

<!-- Reviews -->
<div class="lg:p-32 p-20 py-32 w-full h-max relative">
  <div class="bg-blue-500 h-full w-1/4 absolute right-0 top-0" style="z-index: -1;"></div>

  <div class="relative w-4/6 mx-auto flex ml-10 lg:ml-auto">
    <div class="flex flex-col justify-end">
      <h1 class="text-6xl mr-20 2xl:mr-0 mb-4">Clients say<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>

      <% @reviews.each_with_index do |r, i| %>
        <div class="slide-2 hidden bg-white h-3/4 -mr-40 flex flex-col justify-center pr-10">
          <p class="text-2xl text-gray-500 mb-14"><%= r[:text] %></p>
          <div class="flex">
            <%= image_tag "review#{i + 1}.jpg", class: "h-10 w-10 mt-2 rounded-full object-cover mr-3" %>
            <div>
              <p class="font-semibold text-2xl"><%= r[:name] %></p>
              <p class="text-sm text-gray-500"><%= r[:title] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= image_tag "building1.jpg", style: "height: 38rem; width: 28rem; z-index: -1;" %>
    </div>
  </div>
</div>
<!-- /Reviews -->

<!-- Second Company info -->
<div class="flex w-full flex-col xl:flex-row">
  <div class="min-w-1/2 bg-black text-white p-20 py-56">
    <h1 class="text-7xl mb-20">Hey there<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>
    <p class="text-xl mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia natus laudantium iusto ipsam pariatur. At excepturi similique rerum magnam voluptatibus cum eius odit temporibus, ab expedita, accusamus laborum pariatur modi.</p>
    <button class="bg-blue-500 px-8 py-3 text-white hover:bg-white hover:text-black transition duration-500">Read More</button>
  </div>

  <div class="grid grid-cols-2">
    <% index = 1 %>
    <% 4.times do %>
      <%= image_tag "building#{index}.jpg", class:"w-max object-cover h-full" %>
      <% index += 1 %>
    <% end %>
  </div>
</div>
<!-- /Second Company info -->

<!-- Spacer -->
<div class="h-40 w-full">
  <div class="bg-blue-500 w-1/4 h-full"></div>
</div>
<!-- /Spacer -->

<!-- Employees -->
<div class="w-full bg-white p-40 2xl:px-60 px-20 xl:flex grid grid-col-1 mb-32 justify-around">
  <div class="xl:w-2/5 mx-10 mb-20 xl:mb-0">
    <h1 class="text-5xl my-10">Team <br> members<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>
    <p class="text-2xl text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, non cum deserunt eos delectus sed! Quidem at magnam eius eligendi porro quae accusantium delectus inventore veritatis eaque reiciendis, similique nam!</p>
  </div>

  <div class="flex justify-between xl:w-3/5">
    <% @team_members.each do |m| %>
      <div class="xl:w-full w-1/2 lg:mx-5 mx-10">
        <div class="bg-white border"><%= image_tag m[:image] %></div>
        <div class="bg-black text-gray-400 p-10 text-center">
          <p class="text-blue-500 text-2xl"><%= m[:name] %></p>
          <p><%= m[:title] %></p>
          <div class="flex justify-center mt-2">
            <i class="fab fa-facebook-square mx-2"></i>
            <i class="fab fa-twitter-square mx-2"></i>
            <i class="fab fa-instagram mx-2"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- /Employees -->

<!-- Contact and location -->
<div class="flex flex-col xl:flex-row">
  <div class="xl:w-1/2 xl:text-left text-center w-full flex">
    <div class="w-1/2 border-r flex flex-col p-20 text-left justify-center">
      <i class="fas fa-toolbox text-3xl text-white bg-black p-2 mb-10 w-max"></i>
      <h3 class="text-3xl mb-6 font-semibold">Email<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
      <p class="text-gray-400">Something@citywide.construction</p>
    </div>

    <div class="w-1/2 border-b py-auto p-20 flex flex-col justify-center">
      <i class="fas fa-toolbox text-3xl text-white bg-black p-2 mb-10 w-max"></i>
      <h3 class="text-3xl mb-6 font-semibold">Phone<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
      <p class="text-gray-400">Cell: 505-238-8610 <br> Pgr: 505-229-3016</p>
    </div>
  </div>

  <div class="xl:w-1/2 w-full h-full transform transition duration-500 hover:scale-150">
    <%= image_tag "map.png" %>
  </div>
</div>
<!-- /Contact and location -->

<!-- Bottom bar -->
<div class="bg-black text-white p-3 w-full">
  <div class="container mx-auto">
    <p>Website by Calmnus</p>
  </div>
</div>
<!-- /Bottom bar -->