<!DOCTYPE html>
<html style="scroll-behavior: smooth">
  <head>
    <title>CitywideConstruction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="overflow-x-hidden">
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
